doctype
html
  header
    style.
      #box{
          background:green;
      }

  //-include ./header.pug
  
  body
    div#box 你好,我是吴彦祖!
      input(type="text")/
      span(class="wyzzs" id="qwe" data-class="jss") 吴彦祖最帅
      p#text js是<strong>最好</strong>的语言
      //- 哈哈哈哈
      // 嗝  哈哈哈