doctype
html
  head
    style.
      #box{
        background:red;
        width:100px;
        height:100px;
      }
  body
    //- 这是页面主体
    div 大<strong>家</strong>好
    .div1
    include 54-03.pug
    img(src="./01.png" data-abc="abc")